<!DOCTYPE html>
<html lang="en">
    <head>
        <include(data.includes.header)/>
    </head>
    <body>
        <div class="page-wrapper content">
            <div class="page-wrapper container">
                <div class="row">
                    <h1 class="col-xs-12 display-2"><i class="icon-plant-branch-with-leaves"></i>${data.title}</h1>
                    <include(data.includes.main_menu)/>
                    <ul if(notEmpty(data.articles))>
                        <li for(article in data.articles)>
                            <p>${article.title}</p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </body>
</html>