<!DOCTYPE html>
<html lang="en">
    <head>
        <title>${data.title}</title>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/style.css" />
        <script src="/js/jquery-3.0.0.js" />

    </head>
    <body>
        <div class="page-wrapper container">
            <div class="row">
                <h1 class="col-xs-12 display-2">
                    <i class="icon-plant-branch-with-leaves"></i>${data.title}!! ffdfdeeeqqeerrrrrrrrr
                </h1>
         
                <p class="col-xs-12">Was möchtest du heute machen?!xxxxxlslslxxxx</p>

                <nav class="col-xs-12 main-navi">
                    <div class="row">
                        <a href="create/site" class="col-xs-3 btn btn-primary">Neue Seite</a>
                        <a href="#" class="col-xs-3 btn btn-secondary">Neue Vorlage</a>
                        <a href="#" class="col-xs-3 btn btn-secondary">Menu</a>
                        <a href="#" class="col-xs-3 btn btn-secondary">Menu</a>
                    </div>
                </nav>

                <hr class="col-xs-12"/>

                <form action="" method="" class="col-xs-12 form-inline">
                    <fieldset class="form-group">
                        <input type="text" class="search-field form-control" placeholder="Seite durchsuchen"/>
                        <button type="submit" class="btn btn-primary">Go!</button>
                    </fieldset>
                </form>

                <hr class="col-xs-12"/>

            </div>
        </div>
    </body>
</html>
        
            
            

            