<nav class="col-xs-12 main-navi">
    <div class="row">
        <a href="/site/create" class="col-xs-3 btn btn-primary">Neue Seite</a>
        <a href="/site/component" class="col-xs-3 btn btn-secondary">Neue Componente</a>
        <a href="/" class="col-xs-3 btn btn-secondary">Home</a>
        <a href="/site" class="col-xs-3 btn btn-secondary">Create</a>
    </div>
</nav>