extends ../layout


block content
    div(class="page-wrapper container")
        div(class="row")
            h1(class="col-xs-12 display-2")= title
            p(class="col-xs-12") Welcome to #{title}