<!DOCTYPE html>
<html lang="en">
    <head>
        <include(data.includes.header)/>
    </head>
    <body>
        <div class="content">
            <div class="page-wrapper container">
                <div class="row">
                    <h1 class="col-xs-12 display-2"><i class="icon-plant-branch-with-leaves"></i>${data.title}</h1>
                    <include(data.includes.main_menu)/>
                    <p class="col-xs-12">Welcome sdsd to ${data.title}</p>
                </div>
            </div>
        </div>
    </body>
</html>